<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/index.css" rel="stylesheet"></link>
    <title>Education</title>
</head>
<body>
    <nav>
        <a href="home.html">Home</a>
		<a href="education.html" class="selected">Education</a>
		<a href="skills.html">Skills and Training</a>
        <a href="profile.html">Personal Profile</a>
        <a href="contact.html">Contact Me</a>
    </nav>	
    <div class="education">
        <table class="table" border="1" cellspacing="0">
            <h3>ACADEMIC RECORD</h3>
            <thead>
                <tr>
                    <th>COURSE/MAJOR</th>
                    <th>NAME OF THE INSTITUTION</th>
                    <th>YEAR OF PASSING</th>
                    <th>CGPA / PERCENTAGE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>B.E Electronics And Communication Engineering</td>
                    <td><a href="https://www.svce.ac.in/">Sri Venkateswara College of Engineering<div>Sriperumbudur</div></td></a>
                    <td>2022</td>
                    <td>93</td>
                </tr>
                <tr>
                    <td>HSC</td>
                    <td><a href="http://sskvkanchi.org/">S.S.K.V Matric Higher Secondary School<div>Kanchipuram</div></td></a>
                    <td>2018</td>
                    <td>92</td>
                </tr>
                <tr>
                    <td>SSLC</td>
                    <td><a href="http://sskvkanchi.org/">S.S.K.V Matric Higher Secondary School<div>Kanchipuram</div></td></a>
                    <td>2016</td>
                    <td>97</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>