<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/index.css" rel="stylesheet"></link>
    <title>Home</title>
</head>
<body>
	<nav>
        <a href="home.html" class="selected">Home</a>
		<a href="education.html">Education</a>
		<a href="skills.html">Skills and Training</a>
        <a href="profile.html">Personal Profile</a>
        <a href="contact.html">Contact Me</a>
    </nav>	
    <div class="Home">
        <div class="about">
            <img src="../Images/mypic.jpg" alt="My Pic">
            <div class="details">
                <h1 class="details-ele">About</h1>
                <h3 class="details-ele">A few lines about me</h3>
                <p  class="details-ele">I am S.Niraimadi, currently pursuing a BE degree in the stream of Electronics and Communication Engineering at Sri Venkateswara College of Engineering, Sriperumbudur.</p>
            </div>
        </div>
    </div>
</body>
</html>