<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/index.css" rel="stylesheet"></link>
    <title>Personal Profile</title>
</head>
<body>
    <nav>
        <a href="home.html">Home</a>
		<a href="education.html">Education</a>
		<a href="skills.html">Skills and Training</a>
        <a href="profile.html"  class="selected">Personal Profile</a>
        <a href="contact.html">Contact Me</a>
    </nav>	
    <div class="profile">
        <p>Date of Birth : 30/10/2000</p>
        <p>Father's name : T.S.Sivaraman</p>
        <p>Mother's name : S.Punithavathy</p>
        <p>Gender : Female</p>
        <p>Hobbies : Listening Songs, Playing shuttle</p>
    </div>
    <div class="links">
        <div><a href="https://niraimadikpm@gmail.com"><img src="../Images/gmail_icon.png"></a></div>
        <div><a href=""></a><img src="../Images/insta_icon.jpg"></div>
        <div><a href="https://www.linkedin.com/in/niraimadi-s-432bb618a"><img src="../Images/linkedin_icon.png"></a></div>
        <div><a href="https://github.com/Niraimadi"><img src="../Images/github_icon.png"></a></div>
    </div>
</body>
</html>