<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/index.css" rel="stylesheet"></link>
    <title>Skills and Training</title>
</head>
<body>
    <nav>
        <a href="home.html">Home</a>
		<a href="education.html">Education</a>
		<a href="skills.html"  class="selected">Skills and Training</a>
        <a href="profile.html">Personal Profile</a>
        <a href="contact.html">Contact Me</a>
    </nav>	
    <div class="skill-table">
        <table border="1" cellspacing="0">
            <tr>
                <td class="col1">Languages Known</td>
                <td>
                    <div><span>To Speak</span> : Tamil, English, Hindi</div>
                    <div><span>To Write</span> : Tamil, English</div>
                </td>
            </tr>
            <tr>
                <td class="col1">Skill Set</td>
                <td>
                    <div><span>Programming Languages</span> : C, C++, Python</div>
                    <div><span>Microsoft Office</span> : Word, Excel, Powerpoint</div>
                    <div><span>Areas Of Interest</span> : Embedded systems, Web development, App development</div>
                </td>
            </tr>
            <tr>
                <td class="col1">Project</td>
                <td>
                    <div>Fire Fighting Robot</div>
                </td>
            </tr>
            <tr>
                <td class="col1">Inplant / Internship Training</td>
                <td>
                    <div>1. Inplant Training at Uniq Technologies on Embedded system design</div>
                    <div>2. Inplant Training at Bharat Electronics ltd., in the department of testing, QM, PA, R&D</div>
                </td>
            </tr>
            <tr>
                <td class="col1">Industrial Visit</td>
                <td>
                    <div>1. ISRO - Satish Dhawan Space Centre(SDSC), Sriharikota for one day</div>
                    <div>2. Bharat Sanchar Nigam Ltd., chennai for one day</div>
                </td>
            </tr>
        </table>
    </div>
    
</body>
</html>